@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  /* absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 fill-white
   */
   /* height: 1rem;
   width: 1rem; */
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   fill: white;
}